:root{
--preto:#000000;
--ciano:#7EBB97;
--branco:#FFFFFF;
}
.cabecalho{
    background-color: var(--ciano);
    color: var(--ciano));
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px;
}
.imagem-cabecalho{
    width: 100px;
}
